@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.a-app-container {
  background-color: rgb(216, 231, 229);
  min-height: 100vh;
  transition: background-color 1.4s ease-in-out;
}

.s-app-container {
  background-color: rgb(233, 219, 208);
  min-height: 100vh;
  transition: background-color 1.4s ease-in-out;
}

.d-app-container {
  background-color: rgb(238, 232, 238);
  min-height: 100vh;
  transition: background-color 1.4s ease-in-out;
}

.fade-bg-back-app-container {
  background-color: rgb(213, 223, 231);
  min-height: 100vh;
  transition: background-color 1.6s ease-in-out;
}

.loading {
  color: #fff;
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  animation: fadeIn 2.2s infinite;
}

.qwerty-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

button {
  padding: 2.5rem 3.5rem;
  margin: 20rem 6rem 0rem 6rem;
  font-size: 2rem;
  font-family: "Open Sans";
  color: rgb(156, 156, 156);
  border-style: none;
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgb(116, 117, 117);
  transition: box-shadow 1.2s;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  box-shadow: 0 8px 14px 0 rgb(177, 179, 179);
  color: rgb(122, 122, 122);
}

.press-a {
  box-shadow: 0 8px 14px 0 rgb(97, 160, 160);
  transition: box-shadow 1.2s;
}

.press-s {
  box-shadow: 0 8px 14px 0 rgb(214, 173, 140);
  transition: box-shadow 1.2s;
}

.press-d {
  box-shadow: 0 8px 14px 0 rgb(221, 186, 212);
  transition: box-shadow 1.2s;
}

@media (max-width: 786px) {
  .qwerty-buttons {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;

  }
  button {
    padding: 2.5rem 3.5rem;
    margin: 4rem 6rem 0rem 6rem;
    font-size: 2rem;
    font-family: "Open Sans";
    color: rgb(156, 156, 156);
    border-style: none;
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.5rem 0 rgb(116, 117, 117);
    transition: box-shadow 1.2s;
    cursor: pointer;
  }
}
